.board-row-container{
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.board-row-rect, .board-row-rect--active{
    width: 8px;
    background-color: inherit;
    height: 100%;
    margin-left: 5px;
}

.board-row-rect--active{
    background-color: #3A6FAC;
}

.board-row-arrow-icon{
    position: static;
    right: 5px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.board-row-arrow-icon:hover{
    cursor: pointer;
}

.board-row__title, .board-row__title--active{
    margin-left: 5px;
    height: 100%;
    background-color: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

.board-row__title--active{
    background-color: #93C2F9;
}

.board-row__title-text{
    font-size: 23px;
    letter-spacing: 1px;
    margin: 0;
}