.main-field{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.choose-field {
    width: 300px;
    border-right: 3px solid #000;
    height: 100vh;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.choose-field__add{
    position: absolute;
    right: 10px;
    font-size: 30px;
    top:3px;
    background-color: inherit;
    border: none;
}

.choose-field__add:focus{
    border: none;
    outline: none;
}


.choose-field__list {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 0 0 10px 0;
    min-height: 0;
}

.choose-field__title {
    position: relative;
    height: 40px;
    padding-left: 10px;
}

.main-field__right{
    display: flex;
    flex-direction: column; 
    flex: 1;
    height: 100vh;
    min-width: 0;
    overflow: hidden;
}

.main-field__header{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid #000;
    flex-shrink: 0;
}

.search-icon{
    width: 30px;
    flex-shrink: 0;
}

.user-data{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.user-data__name{
    margin-right: 10px;
    font-size: 20px;
    white-space: nowrap;
}

.user-data__icon{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.main-field__content {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: white;
    flex: 1;
    padding: 10px 1vw 10px 1vw;
    display: flex;
    flex-direction: row; 
    gap: 10px;
    min-height: 0;
}


.modal-button-field{
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-button{
    background-color: #5C85FF;
    color: white;
    padding: 0 30px;
}

.main-field__empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 0;
    padding: 0 1vw 0 1vw;
}

.choose-field__empty{
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 300px; /* минимальная ширина формы */
}

.modal-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: 100%; /* добавил для корректной работы */
}

/* Для инпутов */
.modal-row input {
  width: 100%;
  min-width: 0px;
  box-sizing: border-box; /* важно для правильного расчета ширины */
  padding: 15px 5px;
  font-size: 20px;
}
