:root {
  --eye-icon-width: 30px;
}

.auth-field {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-field-form {
  width: 100%;
  max-width: 360px;
  padding: 20px 16px;
  position: relative;
  z-index: 2;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-field {
  position: relative;
}

.title-form {
  margin: 0;
  text-align: center; 
}

.another-form-button {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: text-underline-offset 0.05s;
  cursor: pointer; /* ✅ добавляем курсор */
  margin: 0 auto; /* ✅ явно центрируем кнопку */
  display: block; /* ✅ делаем блочным элементом */
}

.another-form-button:hover {
  text-underline-offset: 5px;
}

.another-form-button:focus {
  outline: 0;
}

.logo-anchor {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.samgtu-logo {
  width: 1000%;
  scale: 1.25;
  max-width: 600px;
  height: auto;
  opacity: 0.25;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards, rotate 40s linear infinite;
}

.eye-icon {
  width: var(--eye-icon-width);
  position: relative;
  bottom: -4px;
  height: 30px;
  cursor: pointer;
  margin-left: 3px;
}

.form-password-field {
  display: flex;
}

.form-password-input {
  width: calc(var(--input-width) - var(--eye-icon-width) - 3px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
