:root {
  --eye-icon-width: 30px;
}

.auth-field{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login-field-form{
    display: block;
    place-items: center;
    width: 500px;
    height: auto;
    position: relative;
    z-index: 2;
}
.login-form{
    place-items: center;
}

.login-field{
    position: relative;
}

.title-form{
    margin: 0;
    justify-self: center;
}

.another-form-button{
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: text-underline-offset 0.05s;
}

.another-form-button:hover{
    text-underline-offset: 5px;
}
.another-form-button:focus{
    outline: 0;
}

.logo-anchor{
    position: absolute;
    left : calc(50vw - 300px);
    top :  calc(50vh - 700px);;
}
.samgtu-logo{
    position: absolute;
    /* left: 0px;
    top: -10%; */
    /* left: 50px;
    top: -550px; */
    width: 1000px;
    height: 1000px;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards, rotate 40s linear infinite;
}


.eye-icon{
    width: var(--eye-icon-width);
    position: relative;
    bottom: -4px;
    height: 30px;
    cursor: pointer;
    margin-left: 3px;
}

.form-password-field{
    display: flex;
}

.form-password-input{
    width: calc(var(--input-width) - var(--eye-icon-width) - 3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}